:root {
    --brand-color: #324369;
    --light-color: #f0f4f8;
    --dark-color: #222831;
    --success-color: #28a745;
    --warning-color: #ffc107;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
    background-color: var(--dark-color);
    color: var(--light-color);
  }
  
  .card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
    margin: 20px auto;
    max-width: 400px; 
  }
  
  .card {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%; 
    perspective: 1000px; 
    cursor: pointer;
    background-color: var(--light-color);
    overflow: hidden;
  }
  
  .card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 5px;
  }
  
  .card .front {
    transform: rotateY(90deg); 
    transition: all 0.5s ease;
    backface-visibility: hidden;
  }
  
  .card .back {
    transform: rotateY(0deg); 
    transition: all 0.5s ease;
    backface-visibility: hidden;
  }
  
  .flipped .front {
    transform: rotateY(0deg); 
  }
  
  .flipped .back {
    transform: rotateY(90deg); 
  }
  button {
    background-color: #4caf50; 
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.1); 
}

.timer {
    font-size: 1rem; 
    color: white;
    background-color: #4caf50; 
    padding: 10px 20px; 
    margin: 10px auto;
    border-radius: 10px; 
    width: fit-content;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    cursor: default;
}


  .card:hover {
    transform: scale(1.1); 
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); 
    transition: all 0.3s ease-in-out;
  }
  h1 {
    font-size: 3rem;
    letter-spacing: 2px;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  }
  .timer {
    font-size: 1rem; 
    color: white;
    background-color: #4caf50; 
    padding: 10px 20px; 
    margin: 10px auto;
    border-radius: 8px; 
    width: fit-content;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    cursor: default;
}
.header {
  text-align: center;
  margin: 20px 0;
}

.header-title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.header-turns {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.new-game-btn {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.new-game-btn:hover {
  background-color: #45a049;
}
